 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <img src="img/photo.png">
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a student engineer in Computer Science, specialized in Virtual Reality, Digital Imaging, 3D, etc... I am currently studying at the University of Technology of Belfort-Montbéliard (UTBM - France (90)). </p>
                </div>
                <div class="col-lg-4">
                    <p>I am naturally interested in Computer Science and 3D related subjects. I am also passionate with music, as I listen to almost all possible styles (with a preference for Rock, Metal and Folk Music). I am also curious and I love learning new things in a lot of fields (IT, science, art etc...) </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my Resume
                    </a>
                </div>
            </div>
        </div>
    </section>